.content {
  cursor: text;
  font-size: 18px;
  font-family: Cutive Mono, monospace, sans-serif;
}

.cmdline__input {
  display: flex;
}

.cmdline__prompt {
  flex: 0 1 auto;
}

.cmdline__command {
  min-width: 1px;
  flex: 0 1 auto;
}

.cmdline__auto-complete {
  color: #ccc;
  flex: 1 1 auto;
}

.cmdline__command:focus {
  outline: none;
}

.xdsh-ls {
  display: flex;
}

.xdsh-ls__dir {
  margin-right: 24px;
  flex: 0 0 auto;
  color: #3c9566;
}

.xdsh-ls__file {
  margin-right: 24px;
  flex: 0 0 auto;
}

.xdsh-ls__link {
  margin-right: 24px;
  color: #a35c8f;
  flex: 0 0 auto;
}