.xdsh-terminal {
  cursor: text;
  height: 600px;
  display: flex;
  font-size: 18px;
  font-weight: 800;
  color: #6c6c6c;
  font-family: Cutive Mono, monospace, sans-serif;
}

.xdsh-split__row {
  display: flex;
  flex-direction: row;
  flex: 1 0 auto;
}

.xdsh-split__column {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.xdsh-divider {
  flex: 0 0 auto;
  /* https://stackoverflow.com/questions/34365271/hr-inside-container-with-display-flex-become-corrupted */
  color: red;
  margin-left: 0;
  margin-right: 0;
}

.xdsh-cli {
  flex: 1 0 auto;
}

.xdsh-cmdline {
  display: flex;
}

.xdsh-cmdline__prompt {
  flex: 0 1 auto;
}

.xdsh-cmdline__command {
  min-width: 1px;
  flex: 0 1 auto;
}

.xdsh-cmdline__command:focus {
  outline: none;
}

.xdsh-cmdline__auto-complete {
  color: #cfcfcf;
  flex: 1 1 auto;
}

.xdsh-cmdline__time {
  flex: 0 1 auto;
  margin-left: auto;
}

.xdsh-cmd__ls {
  display: flex;
}

.xdsh-cmd__ls-dir {
  margin-right: 24px;
  flex: 0 0 auto;
  color: #3c9566;
}

.xdsh-cmd__ls-text {
  margin-right: 24px;
  flex: 0 0 auto;
}

.xdsh-cmd__ls-link {
  margin-right: 24px;
  flex: 0 0 auto;
  color: #a35c8f;
}

.xdsh-cmd__ls-exe {
  margin-right: 24px;
  flex: 0 0 auto;
  color: #4896a8
}