.xdsh-cli {
  display: flex;
}

.xdsh-cli__prompt {
  flex: 0 1 auto;
}

.xdsh-cli__command {
  min-width: 1px;
  flex: 0 1 auto;
}

.xdsh-cli__command:focus {
  outline: none;
}

.xdsh-cli__auto-complete {
  color: #ccc;
  flex: 1 1 auto;
}

.xdsh-cmd__ls {
  display: flex;
}

.xdsh-cmd__ls-dir {
  margin-right: 24px;
  flex: 0 0 auto;
  color: #3c9566;
}

.xdsh-cmd__ls-file {
  margin-right: 24px;
  flex: 0 0 auto;
}

.xdsh-cmd__ls-link {
  margin-right: 24px;
  color: #a35c8f;
  flex: 0 0 auto;
}